<a href="https://colab.research.google.com/github/RiccoFlores/100-Days-Of-ML-Code/blob/master/NB1_Collect_initial_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Obtención de Datos con Python

En la práctica profesional, los datos rara vez vienen en un solo formato o desde una sola fuente.
En esta notebook exploraremos **diferentes maneras de obtener datos usando pandas**, a partir de
fuentes públicas y formatos comunes en Ciencia de Datos.

**Objetivos:**
- Leer datos desde archivos CSV, Excel y JSON
- Obtener datos desde URLs
- Consumir datos vía HTTP (APIs simples)
- Extraer tablas desde páginas web (HTML)
- Conocer buenas prácticas iniciales de carga de datos

In [5]:
import pandas as pd
import numpy as np

## 2. Lectura de archivos CSV

El formato CSV es uno de los más comunes para datos tabulares.

In [3]:
df_iris_file = pd.read_csv("iris.csv")
df_iris_file.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
url_iris = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

df_iris_url = pd.read_csv(url_iris)
df_iris_url.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df_iris_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
pd.read_csv(
    url_iris,
    sep=",",
    encoding="utf-8"
)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## 3. Lectura de datos desde Excel
### 3.1. Archivos Excel (.xlsx)

Dataset público de salarios:

In [8]:
file_excel = "ITER_31XLSX20.xlsx"

df_excel = pd.read_excel(file_excel)
df_excel.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
0,31,Yucatán,0,Total de la entidad Yucatán,0,Total de la Entidad,NaN,NaN,NaN,2320898,...,580440,339142,306523,129272,60161,33887,67719,283586,16519,*
1,31,Yucatán,0,Total de la entidad Yucatán,9998,Localidades de una vivienda,NaN,NaN,NaN,3950,...,1015,311,384,82,27,328,401,1079,216,*
2,31,Yucatán,0,Total de la entidad Yucatán,9999,Localidades de dos viviendas,NaN,NaN,NaN,955,...,204,72,74,16,5,91,89,211,59,*
3,31,Yucatán,1,Abalá,0,Total del Municipio,NaN,NaN,NaN,6550,...,1383,345,542,36,15,137,436,1394,78,*
4,31,Yucatán,1,Abalá,1,Abalá,"89°40'51.191"" W","20°38'51.280"" N",12.0,2039,...,516,181,323,24,8,28,92,375,14,4

In [10]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2691 entries, 0 to 2690
Columns: 286 entries, ENTIDAD to TAMLOC
dtypes: float64(1), int64(6), object(279)
memory usage: 5.9+ MB

Múltiples hojas:

In [11]:
xls = pd.ExcelFile("World_Bank_CO2.xlsx")
xls.sheet_names

['About',
 'CO2 (kt) Pivoted',
 'CO2 (kt) RAW DATA',
 'CO2 Data Cleaned',
 'CO2 (kt) for Split',
 'CO2 for World to Union',
 'CO2 Per Capita RAW DATA',
 'CO2 Per Capita (Pivoted)',
 'Metadata - Countries']

In [12]:
xls.sheet_names[3]

'CO2 Data Cleaned'

In [13]:
df_excel = pd.read_excel(xls, sheet_name=3)

In [14]:
df_excel.head()

,Country Code,Country Name,Region,Year,CO2 (kt),CO2 Per Capita (metric tons)
0,ABW,Aruba,Latin America & Caribbean,1960,NaN,NaN
1,ABW,Aruba,Latin America & Caribbean,1961,NaN,NaN
2,ABW,Aruba,Latin America & Caribbean,1962,NaN,NaN
3,ABW,Aruba,Latin America & Caribbean,1963,NaN,NaN
4,ABW,Aruba,Latin America & Caribbean,1964,NaN,NaN

## 4. Lectura de datos en formato JSON
### 4.1. JSON desde URL

Usamos una API pública (datos simulados pero abiertos):

In [15]:
url_json = "https://jsonplaceholder.typicode.com/users"

df_json = pd.read_json(url_json)
df_json.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [16]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10 non-null     int64
 1   name      10 non-null     object
 2   username  10 non-null     object
 3   email     10 non-null     object
 4   address   10 non-null     object
 5   phone     10 non-null     object
 6   website   10 non-null     object
 7   company   10 non-null     object
dtypes: int64(1), object(7)
memory usage: 772.0+ bytes

JSON anidado:

In [17]:
df_json["address"].iloc[0]

{'street': 'Kulas Light',
 'suite': 'Apt. 556',
 'city': 'Gwenborough',
 'zipcode': '92998-3874',
 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}

Normalización:

In [18]:
df_json_normalizado = pd.json_normalize(df_json.to_dict(orient="records"))
df_json_normalizado.head()

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

## 5. Lectura de datos desde APIs (requests + pandas)
Consumo de datos vía HTTP

In [19]:
import requests

Ejemplo: API pública de clima (sin autenticación):

In [20]:
url = "https://api.open-meteo.com/v1/forecast"

params = {
    "latitude": 19.4326,
    "longitude": -99.1332,
    "hourly": "temperature_2m"
}

response = requests.get(url, params=params)
data = response.json()

In [23]:
#data.keys()
#data
data['hourly'].keys()

dict_keys(['time', 'temperature_2m'])

In [25]:
df_clima = pd.DataFrame({
    "hora": data["hourly"]["time"],
    "temperatura": data["hourly"]["temperature_2m"]
})
df_clima.head()

               hora  temperatura
0  2026-02-03T00:00         18.3
1  2026-02-03T01:00         16.7
2  2026-02-03T02:00         15.0
3  2026-02-03T03:00         13.7
4  2026-02-03T04:00         12.6

## 6. Lectura de tablas desde HTML (Web Scraping ligero)
### 6.1. read_html
Extracción de tablas desde páginas web

Ejemplo: tabla pública de población mundial:

In [ ]:
url_html = "https://worldpopulationreview.com/countries"

tablas = pd.read_html(url_html)
df_poblacion = tablas[0]
df_poblacion.head()

,Unnamed: 0,Country,2026 Pop.,Area (km²),Density,Annual Change,% Global Pop,Rank
0,NaN,India,1476630000,3.3M,497.0,0.87%,18.45%,1
1,NaN,China,1412910000,9.7M,150.0,-0.23%,17.65%,2
2,NaN,United States,349035000,9.4M,38.0,0.51%,4.36%,3
3,NaN,Indonesia,287887000,1.9M,153.0,0.76%,3.6%,4
4,NaN,Pakistan,259300000,881.9K,336.0,1.6%,3.24%,5

In [ ]:
df_poblacion.to_csv("poblacion.csv", index=False)

## 7. Lectura de otros formatos útiles (breve mención)
### Otros formatos soportados por pandas

- Parquet (`read_parquet`)
- Feather (`read_feather`)
- SQL (`read_sql`)
- Pickle (`read_pickle`)

Ejemplo conceptual:

In [ ]:
#pd.read_sql(query, connection)

## 8. Comparación de fuentes de datos
### ¿De dónde vienen los datos en proyectos reales?

| Fuente | Ventajas | Desventajas |
|------|--------|------------|
| CSV | Simple, universal | Sin tipos complejos |
| Excel | Familiar para negocio | Poco escalable |
| JSON | Flexible | Anidación |
| APIs | Actualizados | Dependencia externa |
| HTML | Rápido acceso | Frágil |

## Ejercicio en clase

Investiga las listas de opciones de datasets públicos que se encuentran en las bibliotecas seaborn y vega.

* Crea al menos un dataframe con los datasets de dichas biliotecas
* Crea al menos un dataframe con un excel obtenido de Inegi.

In [ ]:
#Pista:
import seaborn as sns
from vega_datasets import data

In [ ]:
df = pd.read_csv("Kumpula-June-2016-w-metadata.txt", skiprows=8)

In [ ]:
df.head()

   YEARMODA  TEMP   MAX   MIN
0  20160601  65.5  73.6  54.7
1  20160602  65.8  80.8  55.0
2  20160603  68.4  77.9  55.6
3  20160604  57.5  70.9  47.3
4  20160605  51.4  58.3  43.2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   YEARMODA  30 non-null     int64
 1   TEMP      30 non-null     float64
 2   MAX       30 non-null     float64
 3   MIN       30 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 1.1 KB

In [ ]:
df.describe()

           YEARMODA       TEMP        MAX        MIN
count  3.000000e+01  30.000000  30.000000  30.000000
mean   2.016062e+07  59.730000  67.940000  51.750000
std    8.803408e+00   5.475472   6.651761   5.634484
min    2.016060e+07  49.400000  54.100000  41.700000
25%    2.016061e+07  56.450000  63.150000  47.300000
50%    2.016062e+07  60.050000  69.000000  54.050000
75%    2.016062e+07  64.900000  72.375000  55.750000
max    2.016063e+07  69.600000  80.800000  60.300000

In [2]:
import seaborn as sns
from vega_datasets import data

In [6]:
df = pd.read_csv("Kumpula-June-2016-w-metadata.txt", skiprows=8)

In [7]:
df.head()

   YEARMODA  TEMP   MAX   MIN
0  20160601  65.5  73.6  54.7
1  20160602  65.8  80.8  55.0
2  20160603  68.4  77.9  55.6
3  20160604  57.5  70.9  47.3
4  20160605  51.4  58.3  43.2